<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState
      mode="InProc"
      timeout="60" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="UI/login.aspx"/>
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
    <membership defaultProvider="OdbcProvider" userIsOnlineTimeWindow="120">
      <providers>
        <add name="OdbcProvider" type="softwareCertificate.BLL.CustomMembershipProvider" connectionStringName="ConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" writeExceptionsToEventLog="true"/>
      </providers>
    </membership>
  </system.web>
<connectionStrings>
  <add name="softwareCertificate" connectionString="Data Source=localhost;Initial Catalog=softwareCertificate;Integrated Security=True;" />
    <!--<add name="softwareCertificate" connectionString="server=185.3.201.198;database=softwareCertificate;Initial Catalog=softwareCertificate;uid=sa;pwd=Amoozeg@r" />-->
  </connectionStrings>
</configuration>