<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="softwareCertificate.POL.Properties.Settings.softwareCertificateConnectionString"
            connectionString="Data Source=.;Initial Catalog=softwareCertificate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>